// Colors

$transparent: transparent;
$navbar-item-color: #212832;
$footer-header-color: #080809;
$navy-blue: #5E6282;
$white: #ffffff;
$header-color: #14183E;
$dark-blue:#0F526E;
$light-grey:#E3E3E3;
