// Colors

$transparent: transparent;
$navbar-item-color: #212832;
$footer-header-color: #080809;
$navy-blue: #5E6282;
$white: #ffffff;
$header-color: #14183E;
$dark-blue:#0F526E;
$light-grey:#E3E3E3;
$active-blue:#0ECEFF;
$active-blue2:#13BEFF;
$grey:#707070;
$gray: rgb(116,116,116,.2);
$email-color:#ff6666;
$twitter-color: #00b9ff;
$facebook-color: #3b5998;